html{
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    color: black;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #276b39;
    border: 2px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
li {
    float: left;
}
li a, .dropbtn{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover:not(.active), .dropdown:hover:not(.active) .dropbtn {
    background-color: #1b4a28;
    color: white;
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: #555;
    color: white;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.active{
    background-color: cadetblue;
    color: black;
}
p{
    text-align: center;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
